body {
    background: #f5f7fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 500px;
    height: auto;
    display: block;
    margin: 20px auto 100px auto;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    color: #2556DB;
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button {
    width: 48%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    margin: 5px 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generate {
    background-color: #153e96;
    color: white;
}

.generate:hover {
    background-color: #213988;
}

.download {
    background-color: #060931;
    color: white;
}

.download:hover {
    background-color: #051629;
}

#qrcode {
    margin-top: 20px;
}
